<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.ams.mapper.AmsProcessMapper">
	
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.ams.model.AmsProcess">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="apply_user_id" property="applyUserId" />
		<result column="examine_user_id" property="examineUserId" />
		<result column="department_id" property="departmentId" />
		<result column="apply_type_id" property="applyTypeId" />
		<result column="priority" property="priority" />
		<result column="apply_type_name" property="applyTypeName" />
		<result column="steps_concent" property="stepsConcent" />
		<result column="create_time" property="createTime" />
		<result column="end_time" property="endTime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
	</resultMap>
	<select id="getHandleProcess" resultType="map">
		<!--select b.place_name,a.gps_no,d.rfid,d.pigeon_no,a.*,a.gps_status from feige_gps_record a
		left join feige_place_pigeon d on a.place_pigeon_id = d.id
		left join feige_place b on d.place_id = b.id
		<where>
			<if test="placeName != null and placeName != ''">
				b.place_name = #{placeName}
			</if>
		</where>-->
		select pr.*, ae.nick_name as examineUser, aa.nick_name as applyUser, d.depname from ams_process pr
		left join ums_admin ae on pr.examine_user_id = ae.id
		left join ums_admin aa on pr.apply_user_id = aa.id
		left join ums_department d on pr.department_id = d.id
		<where>
			pr.status = 1
			and pr.examine_user_id = #{currentAdminId}
			<if test="applyTypeId != null">
				and pr.apply_type_id = #{applyTypeId}
			</if>
			<if test="nameKeyword != null and nameKeyword != ''">
				and pr.name like concat('%', #{nameKeyword}, '%')
			</if>
		</where>
		order by pr.priority desc, pr.create_time desc
	</select>
</mapper>
